<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <style type="text/css" href="./style.css"></style>

</head>
<body>

<nav class="grey darken-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Blog</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      
    </ul>
  </div>
</nav>

<h3></h3>

<div class="contents row">
  <div class="container">
      <h5>
        Blogコメントの投稿
      </h5>

    <%= form_for :tweet, local: true, url: {action: 'create'} do |f| %>
    <%# <%= form_with model: @tweet, local: true do |f| %>  

      <%= f.label :image %><br />
      <%= f.text_field :image, placeholder: "Image Url" %>

      <%= f.label :text %>
      <%= f.text_field :text, cols: "30", rows: "10"%>
    
      <button class="btn aves-effect waves-light" type="submit" name="action">投稿する
      </button>
      <%# <%= f.submit "SENT" %> 

    <% end %>
    
  </div>
</div>
