<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="row">
  <form class="col s12"> 

    <div class="row">
      <div class="input-field col s12">
        <div class="field">
          <%# <input id="email" type="email" class="validate"> %>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <%# <label for="email" data-error="wrong" data-success="right">Email</label> %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>


  <% if devise_mapping.rememberable? %>
    <div class="row">
      <div class="input-field col s12">  
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    </div>
  <% end %>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>

  
<% end %>

<%= render "devise/shared/links" %>
